<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Daftar Face Absen</h1>
    <label for="name">Nama:</label>
    <input type="text" id="name" required>
    <br>
    <video id="video" width="640" height="480" autoplay></video>
    <br>
    <button onclick="capture()">Ambil Foto</button>
    <br>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <br>

    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>